In [1]:
# To use these packages, we need to import them first.

import pathlib         # Use the handy Python directory and path library
import math as m       # The standard Python math library
import numpy as np     # Numpy array library 
import pandas as pd    # Pandas data table and time series library

input_dir = pathlib.Path('RRAO_Capital.csv')   # Our input files are here

In [2]:
from scipy.stats import norm    # Import the Normal distribution library

In [3]:
# Using na_filter = True (which is the default setting) detects missing
# values from source and converts them to NaN in the dataframe

RRAO_data = pd.read_csv(r'C:\Users\Elle Westwood\Documents\FINBA_files\Inputfolder_Assig\RRAO_Capital.csv', na_filter = True )

print( RRAO_data.isnull().any() )

RRAO_data

Desk             True
Region           True
In QIS           True
RRAO category    True
Notional         True
dtype: bool

                  Desk  Region In QIS RRAO category   Notional
0  FX emerging markets    EMEA    Yes        Exotic   500000.0
1          FX G20 ccys     NaN    Yes         Other  1000000.0
2  EQ emerging markets      AP     NO        Exotic  1000000.0
3         Banking Book  Global    NaN         Other  1000000.0
4     EQ North America     NaN    Yes        Exotic   500000.0
5                  NaN     NaN    NaN           NaN        NaN
6                  NaN     NaN    NaN           NaN        NaN
7                  NaN     NaN    NaN           NaN        NaN

In [4]:
# We are looking to select rows where 'In QIS' is 'Yes' and return dataframe we have renamed 'QIS_YES'

QIS_YES=RRAO_data.loc[(RRAO_data['In QIS']=="Yes")]
QIS_YES.head()

                  Desk Region In QIS RRAO category   Notional
0  FX emerging markets   EMEA    Yes        Exotic   500000.0
1          FX G20 ccys    NaN    Yes         Other  1000000.0
4     EQ North America    NaN    Yes        Exotic   500000.0

In [5]:
# We will calculate the RRAO Capital of Exotic options by multiplying 'Exotic' by 1% 

QIS_YES.loc[QIS_YES['RRAO category']=="Exotic","RRAO capital"]=QIS_YES["Notional"].astype(float).apply(lambda x:x*0.01)

C:\Users\Elle Westwood\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Elle Westwood\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [6]:
# we will calculate the RRAO Capital of Other options by multiplying 'Other' by 0.1%

QIS_YES.loc[QIS_YES['RRAO category']=="Other","RRAO capital"]=QIS_YES["Notional"].astype(float).apply(lambda x:x*0.001)

In [7]:
# Return QIA_YES and all headers

QIS_YES.head()

                  Desk Region In QIS RRAO category   Notional  RRAO capital
0  FX emerging markets   EMEA    Yes        Exotic   500000.0        5000.0
1          FX G20 ccys    NaN    Yes         Other  1000000.0        1000.0
4     EQ North America    NaN    Yes        Exotic   500000.0        5000.0

In [8]:
# we will sum the RRAO capital from the new column named RRAO capital

Total_Capital_Charge=QIS_YES["RRAO capital"].sum(skipna=True)

In [9]:
# Print result of total capital charge

print(Total_Capital_Charge)

11000.0